<div [formGroup]="searchForm">
  <div class="ui-g">
    <div class="ui-g-11 ui-g-nopad" style="padding: 10px">
      <div class="ui-g">
        <div align="right" style="padding: 10px" class="ui-g-6 ui-g-nopad">
          <label style="padding: 10px">Term</label>
        </div>
        <div class="ui-g-6 ui-g-nopad">
          <input type="text" pInputText formControlName="term" [(ngModel)]="search.term" />
        </div>
      </div>
      <div class="ui-g">
        <div align="right" style="padding: 10px" class="ui-g-6 ui-g-nopad">
          <label style="padding: 10px">Url</label>
        </div>
        <div class="ui-g-6 ui-g-nopad">
          <input type="text" pInputText formControlName="url" [(ngModel)]="search.url" />
        </div>

      </div>
    </div>
    <div style="padding: 10px" class="ui-g-1 ui-g-nopad">
      <p-button label="Submit" class="ui-button-rounded" (onClick)="onSubmit()"></p-button>
    </div>
  </div>

  <ng-container>
    <div>
      <label for="result-item">Result: </label>
      <span id="result-item">{{count}}</span>
    </div>
  </ng-container>

</div>
